@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap');
@import "reset";


.container {
    width: 1050px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-family: roboto, sans-serif;

    .logo {
        font-size: 2rem;
        width: 3.5%;
        cursor: pointer;

        img {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;

        }
    }

    .brand {
        font-size: 1.8rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        width: 5%;
        margin: 0 20px;
        font-weight: 600;
        letter-spacing: -3px;

        a {
            text-decoration: none;
            color: black;
        }

    }


    .search-field {
        position: relative;
        margin-left: 35px;
        width: 30%;

        .search-icon {
            position: absolute;
            top: 13px;
            left: 9px;
            font-size: 1.2rem;
            color: gray;

        }

        input {
            width: 85%;
            padding: 15px 0 15px 45px;
            background-color: rgba(236, 230, 230, 0.438);
            color: rgb(78, 78, 78);
            border: none;
            font-weight: 700;
            font-size: 1rem;
        }

        input::placeholder {
            color: rgb(184, 182, 182);
        }

        input:focus {
            outline: none;
        }
    }






    .menu {
        display: flex;
        justify-content: flex-end;
        width: 60%;
        margin-right: 20px;

        ul {

            font-size: 1.1rem;
            border-right: 2px solid rgba(170, 170, 170, 0.1);

            li {


                a {
                    font-weight: 600;
                    margin-right: 20px;
                    text-decoration: none;
                    color: gray;
                    text-transform: capitalize;

                    &:focus {
                        color: black;
                    }

                    &:hover {
                        color: black;
                    }
                }

            }
        }


    }

    .login {
        width: 5%;
        display: flex;
        font-size: 1.1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 600;
        color: gray;

    }

    .login-icon {
        width: 3.5%;
        display: flex;
        justify-content: center;
        cursor: pointer;


        .login-circle {
            width: 40px;
            height: 40px;
            background: rgba(245, 240, 240, 0.781);
            border-radius: 50%;

            .fas {
                position: relative;
                top: 10px;
                left: 13px;
                color: gray;
            }
        }
    }




}



#festival-jumbo {
    background-color: #222326;
    color: white;
    padding: 45px 0;
    height: 170px;

    .festival-title {

        display: flex;
        justify-content: center;

        h3 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 2rem;
            font-weight: 600;
            text-transform: capitalize;
        }
    }




}

#filter {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    top: -92px;

    .filter-festival {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        margin: 50px auto;
        color: black;
        width: 1050px;
        height: 100px;
        background-color: white;
        -webkit-box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);

        .filter-artist {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            width: 50%;
            padding: 0 15px;
            text-transform: capitalize;
            border-right: 1px solid rgba(223, 205, 205, 0.3);

            p {
                width: 90%;
                font-size: 1.2rem;
            }

            .arrow-button {
                width: 10%;
            }
        }

        .filter-country {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 0 15px;
            text-transform: capitalize;


            p {
                width: 90%;

                font-size: 1.2rem;
            }

            .arrow-button {
                width: 10%;
            }
        }
    }

    .filter-list {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: black;

        ul {
            display: flex;

            li {
                padding: 0 10px;

                &:last-child {
                    .filter-circle {
                        width: 110px;
                    }
                }

                .filter-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90px;
                    height: 40px;
                    border-radius: 22px;
                    color: darkgray;
                    text-align: center;
                    background: rgba(250, 243, 243, 0.753);
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;



                }
            }




        }
    }

}

#upcoming-festivals {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    top: -50px;

    h2 {
        font-size: 2rem;
        padding: 20px 15px;
    }

    .festival {
        display: inline-block;
        width: 30%;
        margin: 50px 15px;

        .festival-img {
            cursor: pointer;

            .bg-block1 {
                background: red;
                width: 300px;
                height: 200px;
                position: absolute;
                top: 10px;
                left: 459px;
                transform: rotate(1deg);
                z-index: 1;
            }

            .bg-block2 {
                background: blue;
                width: 300px;
                height: 200px;
                position: absolute;
                top: 10px;
                left: 808px;
                transform: rotate(1deg);
                z-index: 1;
            }

            .bg-block3 {
                background: orange;
                width: 300px;
                height: 200px;
                position: absolute;
                top: 10px;
                left: 1156px;
                transform: rotate(1deg);
                z-index: 1;
            }



            img {
                position: relative;
                z-index: 2;
                width: 320px;
                height: 200px;
            }
        }

        .info {
            margin-left: 15px;

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                padding: 20px 0;
            }

            .location {
                margin: 5px 0;
                line-height: 25px;

                .fas {
                    position: relative;
                    top: -2px;
                    color: red;
                    font-size: .2rem;
                }
            }

            .genre {
                display: flex;
                align-items: center;

                .fas {
                    margin: 0 5px;
                    color: red;
                    font-size: .2rem;
                }
            }

            .onsale {
                display: inline-block;
                color: grey;
                text-transform: capitalize;
                border: 1px solid gray;
                width: fit-content;
                padding: 3px;
                margin: 10px 0;
            }

            .book-festival {
                text-transform: capitalize;
                display: inline-block;
                margin-left: 110px;
                color: red;
                cursor: pointer;

                .fas {
                    position: relative;
                    top: 3px;
                    font-size: 1.5rem;
                    margin-left: 5px;

                }

                .book-now {

                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }


        }

    }

    .show-more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 50px;
        background: rgb(245, 244, 244);
        color: rgb(168, 168, 168);
        margin: 70px auto;
        border-radius: 5px;
        text-transform: capitalize;
        font-weight: 600;

        &:hover {
            background: rgb(230, 227, 227);
        }

    }

    .past-festivals {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(180, 178, 178);
        cursor: pointer;


        span {
            &:hover {
                color: rgb(201, 197, 197);
            }
        }

        .fas {
            margin-right: 15px;
            font-size: 1rem;

            &:hover {
                color: rgb(201, 197, 197);
            }
        }
    }

    .rainbow-bar {
        width: 100%;
        height: 10px;
        background: red;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(left, orange, yellow, green, cyan, blue, violet);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
        /* Standard syntax (must be last) */
        margin: 100px 0;
    }
}

#festival-info {

    .container {
        border-bottom: 1px solid rgb(182, 177, 177);
        padding: 50px 0;
    }

    .info {
        display: inline-block;
        margin: 0 80px 0 0;
        width: 15%;

        .artists,
        .countries,
        .genres {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            ul {
                margin: 10px 0;

                li {
                    padding: 8px 0;

                    a {
                        color: rgb(172, 171, 171);
                        text-decoration: none;
                        font-size: 1.1rem;
                        text-transform: capitalize;

                    }
                }
            }
        }

        .venues {
            position: relative;
            top: -51px;

            h3 {

                font-size: 1.5rem;
                font-weight: 600;
            }

            ul {

                li {
                    padding: 8px 0;

                    a {
                        color: rgb(172, 171, 171);
                        text-decoration: none;
                        font-size: 1.1rem;
                        text-transform: capitalize;

                    }
                }
            }
        }

        .activities {
            h3 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            ul {


                li {
                    padding: 8px 0;

                    a {
                        color: rgb(172, 171, 171);
                        text-decoration: none;
                        font-size: 1.1rem;
                        text-transform: capitalize;

                    }
                }
            }

        }
    }
}

#popular-festivals {
    margin: 50px 0;

    .container {
        border-bottom: 1px solid rgb(182, 177, 177);
        padding-bottom: 30px;
    }

    h3 {
        margin: 22px 0;
        font-size: 1.6rem;
        font-weight: 600;
    }

    .festival {
        width: 24.7%;
        display: inline-block;
        text-align: center;


        ul {
            text-align: center;
            float: left;

            li {
                text-align: left;
                font-size: 1.1rem;
                font-weight: 600;
                color: gray;
                margin-bottom: 15px;
                cursor: pointer;
                color: rgb(172, 171, 171);
            }
        }
    }
}