@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

header {
    display: flex;
    align-items: center;
    padding: 20px 0;

    .logo {
        font-size: 2rem;
        width: 5%;
    }

    .brand {
        font-size: 2rem;
        width: 5%;
        margin-left: 15px;
        font-weight: 600;

    }

    input {
        margin-left: 35px;
        padding: 15px;
        width: 40%;
        background-color: rgba(223, 219, 219, 0.588);
        border: none;
        font-weight: 700;
        font-size: 1rem;
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        margin-left: 40%;
        width: 40%;



        ul {

            font-size: 1.1rem;
            border-right: 1px solid rgba(170, 170, 170, 0.1);

            li {


                a {
                    font-weight: 600;
                    margin-right: 20px;
                    text-decoration: none;
                    color: gray;
                    text-transform: capitalize;

                    &:focus {
                        color: black;
                    }

                    &:hover {
                        color: black;
                    }
                }

            }
        }


    }

    .login {
        display: flex;
        justify-content: center;
        width: 10%;
        font-size: 1.1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 600;
        color: gray;
    }
}