@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";


.container {
    width: 1050px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-family: roboto, sans-serif;

    .logo {
        font-size: 2rem;
        width: 5%;

        img {
            display: flex;
            justify-content: center;
            width: 100px;
            height: 100px;

        }
    }

    .brand {
        font-size: 2rem;
        width: 5%;
        margin: 0 20px;
        font-weight: 600;

    }

    input {
        margin-left: 35px;
        padding: 15px;
        width: 30%;
        background-color: rgba(236, 230, 230, 0.438);
        color: rgb(78, 78, 78);
        border: none;
        font-weight: 700;
        font-size: 1rem;
    }

    input::placeholder {
        color: rgb(184, 182, 182);
    }

    input:focus {
        outline: none;
    }




    .menu {
        display: flex;
        justify-content: flex-end;
        width: 60%;

        ul {

            font-size: 1.1rem;
            border-right: 2px solid rgba(170, 170, 170, 0.1);

            li {


                a {
                    font-weight: 600;
                    margin-right: 20px;
                    text-decoration: none;
                    color: gray;
                    text-transform: capitalize;

                    &:focus {
                        color: black;
                    }

                    &:hover {
                        color: black;
                    }
                }

            }
        }


    }

    .login {
        width: 5%;
        display: flex;
        font-size: 1.1rem;
        text-transform: capitalize;
        cursor: pointer;
        font-weight: 600;
        color: gray;

    }

    .login-icon {
        width: 5%;
        display: flex;
        justify-content: center;


        .login-circle {
            width: 40px;
            height: 40px;
            background: lightgray;
            border-radius: 50%;

            .fas {
                position: relative;
                top: 10px;
                left: 13px;
                color: gray;
            }
        }
    }




}



#festival-jumbo {
    background-color: #222326;
    color: white;
    padding: 45px 0;
    height: 170px;

    .festival-title {
        display: flex;
        justify-content: center;

        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: capitalize;
        }
    }




}

#filter {
    position: relative;
    top: -92px;

    .filter-festival {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        margin: 50px auto;
        color: black;
        width: 1050px;
        height: 100px;
        background-color: white;
        -webkit-box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);
        box-shadow: -3px 3px 26px -9px rgba(0, 0, 0, 0.75);

        .filter-artist {
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            width: 50%;
            padding: 0 15px;
            text-transform: capitalize;
            border-right: 1px solid rgba(223, 205, 205, 0.3);

            p {
                width: 90%;

                font-size: 1.2rem;
            }

            .arrow-button {
                width: 10%;
            }
        }

        .filter-country {
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 0 15px;
            text-transform: capitalize;


            p {
                width: 90%;

                font-size: 1.2rem;
            }

            .arrow-button {
                width: 10%;
            }
        }
    }

    .filter-list {
        color: black;

        ul {
            display: flex;

            li {
                padding: 0 10px;

                .filter-circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 90px;
                    height: 50px;
                    border-radius: 45%;
                    color: darkgray;
                    text-align: center;
                    background: rgba(250, 243, 243, 0.753);
                    font-size: 1.1rem;
                    font-weight: 600;



                }
            }




        }
    }

}

#upcoming-festivals {
    position: relative;
    top: -50px;

    h2 {
        font-size: 2rem;
        padding: 20px 15px;
    }

    .festival {
        display: inline-block;
        width: 30%;
        margin: 0 15px;

        .festival-img {

            img {
                width: 320px;
                height: 200px;
            }
        }

        .info {
            margin-left: 15px;

            h3 {
                font-size: 1.2rem;
                font-weight: 600;
                padding: 20px 0;
            }

            .location {
                margin: 5px 0;
                line-height: 25px;

                .fas {
                    position: relative;
                    top: -2px;
                    color: red;
                    font-size: .2rem;
                }
            }

            .genre {
                display: flex;
                align-items: center;

                .fas {
                    margin: 0 5px;
                    color: red;
                    font-size: .2rem;
                }
            }

            .onsale {
                display: inline-block;
                color: grey;
                text-transform: capitalize;
                border: 1px solid gray;
                width: fit-content;
                padding: 3px;
                margin: 10px 0;
            }

            .book-festival {
                text-transform: capitalize;
                display: inline-block;
                margin-left: 120px;
                color: red;




                .book-now {

                    font-weight: 600;
                    font-size: 1.2rem;
                }
            }


        }

    }
}